<!DOCTYPE html>
<link rel="stylesheet" href="static/vendor/rickshaw/rickshaw.min.css">
<script src="static/vendor/momentjs/moment.js"></script>
<script src="static/vendor/jquery-1.11.1.min.js"></script>
<script src="static/lib/jsonretriever.js"></script>
<script src="static/vendor/highcharts/highcharts.js"></script>
<script src="static/lib/highchart_example.js"></script>

<div id="chart"></div>

<script>
    console.log("from index.html");
    load_json(draw_highchart);

</script>

<div id="chart2"></div>
<script>
</script>
