<!DOCTYPE html>
<script src="static/vendor/momentjs/moment.js"></script>
<script src="static/vendor/jquery-1.11.1.min.js"></script>
<script src="static/vendor/highcharts/highcharts.js"></script>
<!-- Load moment.js and jQuery -->
<!-- Load request_live_data since it contains requestData() -->
<script src="static/lib/request_live_data.js"></script>
<!-- Load live_highchart since it contains the document.ready chart
    drawing function. -->
<script src="static/lib/live_highchart_example.js"></script>


<script>

</script>
<div id="container" style="width: 800px; height: 400px; margin: 0 auto"></div>
